<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span><i class="material-icons" fxLayout="row" fxLayoutAlign="center center" (click)="onToggleDrawer()" style="cursor: pointer">menu</i></span>
        <span class="brand">Recipe Book</span>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu" style="color: grey; font-weight: 200; font-size: 15px">MANAGE <i class="material-icons">expand_more</i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Save Data</button>
          <button mat-menu-item>Fetch Data</button>
        </mat-menu>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
