<div *ngIf="recipe" fxLayout="column" fxLayoutAlign="start start">
  <div><img src="{{ recipe.imageUrl }}" alt="{{ recipe.name }}" class="recipe-details-image"></div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <div>
      <h2 class="recipe-details-title">{{ recipe.name }}</h2>
      <p class="recipe-details-description">{{ recipe.description }}</p>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu" style="color: grey; font-weight: 200; font-size: 15px">MANAGE<i class="material-icons">expand_more</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAddToShoppingList()">Add to shopping list</button>
        <button mat-menu-item (click)="onEditRecipe()">Edit</button>
        <button mat-menu-item (click)="onDeleteRecipe()">Delete</button>
      </mat-menu>
    </div>
  </div>
  <div fxFill>
    <h4 class="recipe-details-title">INGREDIENTS</h4>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <mat-list role="list">
          <h5 class="recipe-details-description">Name</h5>
          <mat-list-item *ngFor="let ingredient of recipe.ingredients" style="margin-top: -20px" role="listitem">{{ ingredient.name }}</mat-list-item>
        </mat-list>
      </div>
      <div>
        <mat-list role="list">
          <h5 class="recipe-details-description">Quantity</h5>
          <mat-list-item *ngFor="let ingredient of recipe.ingredients" style="margin-top: -20px" role="listitem">{{ ingredient.quantity }}</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
