.brand {
  text-transform: uppercase;
  font-weight: 500;
  color: #00B3B3;
}

.sideDrawer {
  width: 300px;
  height: 600px;
  background-color: #EEEEEE; 
}

.sideDrawer-links {
  color: grey
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
